USE [master]
GO
/****** Object:  Database [P0013Sushi]    Script Date: 9/24/2019 10:18:23 PM ******/
CREATE DATABASE [P0013Sushi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P0013Sushi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\P0013Sushi.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'P0013Sushi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\P0013Sushi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P0013Sushi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P0013Sushi]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 9/24/2019 10:18:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[Address] [varchar](50) NULL,
	[Tel] [varchar](10) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 9/24/2019 10:18:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuDetail]    Script Date: 9/24/2019 10:18:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDetail](
	[ProductID] [int] NOT NULL,
	[MenuID] [int] NOT NULL,
 CONSTRAINT [PK_MenuDetail] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpeningHour]    Script Date: 9/24/2019 10:18:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OpeningHour](
	[WeekDay] [varchar](20) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_OpeningHour] PRIMARY KEY CLUSTERED 
(
	[WeekDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/24/2019 10:18:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Image] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Production] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Description], [Price]) VALUES (2, N'PREMIUM SASHIMI BOAT', N'Here in Vietnam, too, our restaurant was formed as an accessible way to enjoy fresh, delicious sushi. Having accomplished our aim of popularizing sushi within Japan, we have made it our goal to offer an authentic taste of Japan to all the people of the world, beginning with Vietnam. That means bringing to you not just flavor, but every aspect of the high quality service we provide in Japan.', 156.25)
INSERT [dbo].[Menu] ([ID], [Name], [Description], [Price]) VALUES (3, N'ASSORTED PREMIUM SASHIMI', N'For website reservation, please reserve for up to 3 hours before use and up to 8 people.
We may contact you to confirm the details of your reservation.
Please call us if you like to reserve a table for 9 or more.', 500.25)
SET IDENTITY_INSERT [dbo].[Menu] OFF
INSERT [dbo].[MenuDetail] ([ProductID], [MenuID]) VALUES (1, 1)
INSERT [dbo].[MenuDetail] ([ProductID], [MenuID]) VALUES (1, 2)
INSERT [dbo].[MenuDetail] ([ProductID], [MenuID]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Image], [Description]) VALUES (1, N'Nigiri', N'1.jpg', N'Small rice balls with fish, shellfish, etc. on top. There are countless varieties of nigirizushi, some of the most common ones being tuna, shrimp, eel, squid, octopus and fried egg.')
INSERT [dbo].[Product] ([ID], [Name], [Image], [Description]) VALUES (2, N'Gunkan', N'2.jpg', N'Small cups made of sushi rice and dried seaweed filled with seafood, etc. There are countless varieties of gunkanzushi, some of the most common ones being sea urchin and various kinds of fish eggs.')
INSERT [dbo].[Product] ([ID], [Name], [Image], [Description]) VALUES (3, N'Norimaki', N'3.jpg', N'Sushi rice and seafood, etc. rolled in dried seaweed sheets. There are countless varieties of sushi rolls differing in ingredients and thickness. Sushi rolls prepared "inside out" are very popular outside of Japan, but rarely found in Japan.
')
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[MenuDetail]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetail_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menu] ([ID])
GO
ALTER TABLE [dbo].[MenuDetail] CHECK CONSTRAINT [FK_MenuDetail_Menu]
GO
ALTER TABLE [dbo].[MenuDetail]  WITH CHECK ADD  CONSTRAINT [FK_MenuDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[MenuDetail] CHECK CONSTRAINT [FK_MenuDetail_Product]
GO
USE [master]
GO
